@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.25px;
  font-family: "Ubuntu", sans-serif;
}

main {
  height: 90vh;
  width: 100vw;
  border: 1px solid #000;
  background-color: #f1f5f8;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#input {
  display: flex;
  padding: 4px 6px;
  background-color: #fff;
  margin: 4px 0;
}

#input input {
  border: none;
  flex-grow: 1;
  padding: 3px 6px;
}

#input input:focus {
  outline: none;
}

.tags {
  display: flex;
}

.tags p {
  border: 1px solid #8f8f90;
  border-radius: 2rem;
  padding: 2px 4px;
  margin: 7px 5px;
}

section {
  /* border: 1px solid red; */
}

section div {
  margin: 20px 10px;
}

div i {
  float: right;
  margin: 4px;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.div-container {
  border: 1px solid red;
  height: 450px;
  /* max-height: 600px; */
  overflow-y: scroll;
  padding-bottom: 60px;
  scroll-behavior: smooth;
  position: relative;
}

.div-container div {
  border: 1px solid black;
  margin: 20px 10px;
}

h4:first-line {
  color: red;
}

h4 {
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

article span {
  border: 1px solid black;
  padding: 2px;
  border-radius: 2rem;
  display: inline-block;
  margin: 3px 5px;
}

article div {
  padding: 10px 0;
}

.fixed {
  border: 1px solid red !important;
  position: absolute;
  background-color: #fff;
  height: 100%;
}

.fixed article {
  border: 1px solid red;
  height: 70%;
  overflow-y: scroll;
}

.footer-fixed {
  position: absolute;
  bottom: 0;
}
